.grid-container1 {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px 75px 75px 75px;
    grid-template-rows: 100px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5	0px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-0deg);
}

.robot {
    width:125px;
    height:125px;
}
#robot1 {
    transform:rotate(270deg);
}
#robot2 {
}
